/*!
 * Sir Xiradorn Fully Header in Jade and Sass
 */

@import 'normalize'
@import 'bourbon/bourbon'

$bgImg: '../image/bg.jpg'

/** Main Style Part */
@import url(http://fonts.googleapis.com/css?family=Raleway:700,400)

*
	font:
		family: "Raleway","HelveticaNeue","Helvetica Neue",Helvetica,Arial,sans-serif

header, footer
	height: 100vh
	/* Style Part */
	margin:
		bottom: 20px
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background:
		image: url($bgImg)
		position: center center
		size: cover
		attachment: fixed
		repeat: no-repeat
	/* Technical Part */
	display: flex
	flex:
		direction: column
		wrap: wrap
	justify-content: center
	align:
		items: center
	overflow: hidden

	h1, h3, h5
		font:
			weight: 700
			//family: 'Lato',sans-serif
		color: white
		text:
			transform: uppercase
			shadow: 0 0 3px black

		@media only screen and (max-width: 640px)
			text-align: center

	h1
		letter-spacing: 6px
		margin:
			bottom: 10px
		background:
			color: rgba(0,0,0,.3)
		font:
			size: 2.5em

		@media only screen and (max-width: 640px)
			font:
				size: 1.5em

		span
			padding: 25px 80px
			border: 10px solid white
			display: inline-block

			@media only screen and (max-width: 640px)
				padding: 15px 40px
				border:
					width: 7px

	h3
		letter-spacing: 2px

	h5
		a
			color: rgba(255, 255, 255, .6)
			transition: all .3s ease-in-out

			&:hover
				color: rgba(255, 255, 255, 1)

section
	max-width: 640px
	margin: 10px auto 30px
	padding: 0 10px

	@media only screen and (max-width: 640px)
		font-size: .9em

	article
		text-align: justify

		.headline
			text:
				align: center
				transform: uppercase
			border-bottom: 2px solid #aaa
			padding: 10px 0 20px
			color: #aaa
			font:
				weight: 400

footer
	height: 100px
	-webkit-background-size: cover
	-moz-background-size: cover
	-o-background-size: cover
	background:
		image: url($bgImg)
		position: center center
		size: cover
		attachment: fixed
		repeat: no-repeat
	/* Same on the header */
	display: flex
	flex:
		direction: column
		wrap: wrap
	justify-content: center
	align:
		items: center
	margin-bottom: 0

	@media only screen and (max-width: 640px)
		flex:
			direction: row
			wrap: wrap

		h3, h5
			margin: 5px auto
