doctype html
html
	head
		meta(http-equiv="content-type", content="text/html;charset=utf-8")
		meta(name="viewport", content="width=device-width, initial-scale=1")
		meta(name="author", content="Sir Xiradorn")
		meta(name="description", content="A full Header Example in Jade and Sass")
			
		title Full Page Header

		link(rel="stylesheet", href="css/main.min.css", type="text/css")
		link(rel="icon", href="./favicon.png")
		link(href='http://fonts.googleapis.com/css?family=Lato:400,700,300', rel='stylesheet', type='text/css')

	body
		header
			h1
				span Full Page Header
			h3 Just a simple full header example

		section
			article
				h1.headline Personal Page
				
				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare risus tristique nibh accumsan, at fermentum magna scelerisque. Donec sem justo, finibus sed odio a, luctus commodo sapien. Aenean semper ante sit amet nibh fermentum elementum. Nulla vehicula maximus ullamcorper! In ac nisl sit amet nibh fringilla mollis eu eu arcu. In ac pharetra libero. Sed eu neque egestas, tempus turpis sit amet; sodales orci. Integer nec risus sagittis; viverra est dignissim, facilisis nisl. Ut non enim massa. Donec eget mi vitae nisi bibendum condimentum sit amet vel ligula

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare risus tristique nibh accumsan, at fermentum magna scelerisque. Donec sem justo, finibus sed odio a, luctus commodo sapien. Aenean semper ante sit amet nibh fermentum elementum. Nulla vehicula maximus ullamcorper! In ac nisl sit amet nibh fringilla mollis eu eu arcu. In ac pharetra libero. Sed eu neque egestas, tempus turpis sit amet; sodales orci. Integer nec risus sagittis; viverra est dignissim, facilisis nisl. Ut non enim massa. Donec eget mi vitae nisi bibendum condimentum sit amet vel ligula

				p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas ornare risus tristique nibh accumsan, at fermentum magna scelerisque. Donec sem justo, finibus sed odio a, luctus commodo sapien. Aenean semper ante sit amet nibh fermentum elementum. Nulla vehicula maximus ullamcorper! In ac nisl sit amet nibh fringilla mollis eu eu arcu. In ac pharetra libero. Sed eu neque egestas, tempus turpis sit amet; sodales orci. Integer nec risus sagittis; viverra est dignissim, facilisis nisl. Ut non enim massa. Donec eget mi vitae nisi bibendum condimentum sit amet vel ligula

		footer
			h3 Tony Frost Design
			h5 A <a title="DevTips" href="https://www.youtube.com/user/DevTipsForDesigners">DevTips</a> Inpiration
